<h1>{{title}}</h1>

<table>
<thead>
  <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
  </tr>
</thead>
<tbody>
  {{#each users}}
    <tr>
        <td>{{_id}}</td>
        <td>{{username}}</td>
        <td>{{password}}</td>
    </tr>
  {{/each}}
</tbody>
</table>